/* Add CSS Styling */

.odd {
    background-color: #eeb1c1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: #0400ff;
    font-size: 36px;
}

.font-size {
    font-size: 24px;
}

#fourth {
    background-color: #00ff55;
    font-weight: bold;
}