/* Add CSS Styling */

/* My solution */

/* .first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
}

.both {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
} */


/* "," comma means First AND Second classes separately */

.first,
.second {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
}