/* Add CSS Styling */

/* Solution 1 */

/* .container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */

/* Solution 2 */

/* div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */

/* Solution 3 */

/* .container p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */

/* Solution 4 */

div .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}